@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}
table, td {
  border: 1px solid black;
}
th {
  background-color: salmon;
  text-align: center;

}
table {
  border-collapse: collapse;
  width: 50%;
}
body{
    background-color: bisque;
}
td {
  padding: 5px;
}
.link {
    margin-left: 1rem;
    font-weight: 500;
    color: black;
    padding: 1em;
    text-decoration: none;
    background-color: white;
    border-radius: 4em;
    width: 4em;
}
a {
  background-color: white;
  padding: 1rem;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link:hover{
  background-color: cyan;
  padding: 1em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 10px;
}
.tytul {
  background-color: violet;
  width: 100%;
  margin: 10px;
  text-align: center;
}
.imie {
  margin: 10px;
}
.nav {
  background-color: palevioletred;
  margin: 10px;
  width: 10%;
}
.strona {
  background-color: pink;
  margin: 10px;
  width:80%
}
  
