@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}
table, td {
  border: 1px solid black;
}
th {
  background-color: salmon;
  text-align: center;

}
table {
  border-collapse: collapse;
  width: 50%;
}
body{
    background-color: bisque;
}
td {
  padding: 5px;
}
a {
 margin: 2px;
 background-color: white;
 border-radius: 4em;
}

.link:hover{
  background-color: cyan;
  padding: 1em;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 10px;
}
.tytul {
  background-color: violet;
  width: 100%;
  margin: 10px;
  text-align: center;
}
.imie {
  margin: 10px;
}
.nav {
  
  margin: 10px;
  height: auto;
  width: auto;
}
.strona {
  background-color: pink;
  margin: 10px;
  width:80%
}

  
