@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}
body{
  background-color: bisque;
  display: flex;
  flex-wrap: wrap;
}
th {
  background-color: salmon;
  text-align: center;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
}
td {
  padding: 5px;
  border: 1px solid black;
}
a {
 padding: 7px;
 background-color: white;
 border-radius: 4em;
 color: black;
 text-decoration: none;
 text-align: center;
 width: 50%;
}
.nav1_link {
  height: 40px;
}
.link:hover{
  background-color: cyan;
  padding: 7px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
}

.tytul {
  background-color: violet;
  width: 100%;
  margin: 10px;
  text-align: center;
}
.imie {
  margin: 10px;
}
.nav {
  float: left;
  margin: 10px;
  height: auto;
  width: auto;
}
.strona {
  float: left;
  background-color: pink;
  margin: 10px;
  width:auto;
}

  
