* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a b b b"
    "a c c e"
    "a d f e";
  }
  header {
      background-color: red;
      grid-area: a;
      height: 100vh;
      padding-left: 10px;
      color: black;
  }
  nav {
      background-color: lightgreen;
      grid-area: b;
      height: 35vh;
  }
  main {
      background-color: lightskyblue;
      grid-area: c;
      height: 35vh;
      padding-left: 10px;
      color: black;
  }
  aside {
      background-color: orange;
      grid-area: e;
      padding-left: 10px;
      color: black;
  }
  footer {
      background-color: yellow;
      grid-area: d;
      height: 30vh;
  }
  .zolty {
      background-color: yellow;
      grid-area: f;
  }