* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "a b e"
    "a c e"
    "a d e";
  }
  header {
      background-color: red;
      padding-left: 10px;
      grid-area: a;
      height: 100vh;
  }
  nav {
      background-color: lightgreen;
      grid-area: b;
      height: 35vh;
  }
  main {
      background-color: lightskyblue;
      padding-left: 10px;
      grid-area: c;
      height: 35vh;
  }
  aside {
      background-color: orange;
      padding-left: 10px;
      grid-area: e;
  }
  footer {
      background-color: yellow;
      grid-area: d;
      height: 30vh;
  }
  table, td {
    border: 1px solid black;
  }
  th {
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 50%;
  }