* {
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

  body{
  font-family: 'Montserrat', sans-serif;
  }
  .container {
    background-color: rgb(50, 117, 205);
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "a b e"
    "a c e"
    "a d e";
  }
  header {
      background-color: red;
      padding-left: 10px;
      grid-area: a;
      height: 100vh;
      color: black;
  }
  nav {
      background-color: lightgreen;
      grid-area: b;
      height: 35vh;
  }
  main {
      background-color: lightskyblue;
      padding-left: 10px;
      grid-area: c;
      height: 35vh;
      color: black;
  }
  aside {
      background-color: orange;
      padding-left: 10px;
      grid-area: e;
      color: black;
  }
  footer {
      background-color: yellow;
      grid-area: d;
      height: 30vh;
  }